@model ConstructionERP.Models.ViewModels.LoginViewModel

@{
    Layout = null;
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row vh-100">
        <div class="col-md-6 d-none d-md-block p-0">
            <img src="~/images/loginImage.jpg" class="img-fluid w-100 h-100" style="object-fit:cover;" alt="Constuction Image" />
        </div>

        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <div style="width: 100%; max-width: 350px;">
                <div class="text-center mb-4">
                    <h2 class="fw-bold">Construction ERP</h2>
                    <p class="text-muted mb-0">Welcome back</p>
                    <p class="text-muted small">Sign in to continue to your dashboard</p>
                </div>
                @if (TempData["Success"] != null)
                {
                    <div class="alert alert-success">
                        @TempData["Success"]
                    </div>
                }

                <form asp-action="Login" method="post">
                    @Html.AntiForgeryToken()

                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" placeholder="Enter email" />
                        <span asp-validation-for="Email" class="text-danger small"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <div class="input-group">
                            <input asp-for="Password" id="password" type="password" class="form-control" placeholder="Enter password" />
                            <span class="input-group-text fas fa-eye toggle-password" style="cursor:pointer;" onclick="togglePassword()"></span>
                        </div>
                        <span asp-validation-for="Password" class="text-danger small"></span>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">
                        Login
                    </button>
                </form>
                    
            </div>

        </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<script>
    function togglePassword() {
        const password = document.getElementById('password');
        const icon = document.querySelector('.toggle-password');

        if (password.type === 'password') {
            password.type = 'text';
            icon.classList.remove('fa-eye');
            icon.classList.add('fa-eye-slash');
        } else {
            password.type = 'password';
            icon.classList.remove('fa-eye-slash');
            icon.classList.add('fa-eye');
        }
    }
</script>
